/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'RobotoMono';
    src: url("font/RobotoMono-VariableFont_wght.ttf");
}

body{   
    background: linear-gradient(to left bottom, #F3F1C4, #FFFEE9);
}

.circle{
    width: 55vw;
    height: 55vw;
    border-radius: 100%;
    position: fixed;
    border: 1px solid #94964A;
    z-index: -1;
    box-shadow: 6px -3px 6px 0px rgba(0, 0, 0, 0.212);
}

#cir1{
    background: linear-gradient(to left bottom, #F9FC7D 30%, #94964A);
    top: -22vw;
    left: -17vw;
}

#cir2{
    background: linear-gradient(to left bottom, #F9FC7D 50%, #94964A);
    right: -12vw;
    bottom: -28vw;
}

main{
    height: 100vh;
    width: 100%;
    font-family: RobotoMono;
}

#ticketFundo{
    width: 96%;
    margin-left: 4%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ticket{
    max-width: 95%;
    height: 95vh;
    background: linear-gradient(to bottom left, #ffffbfcc, #f4f5aade);
    border: 1.5px solid white;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap:1vw;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
    backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
}

#ticket::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
    contain: paint;
}

#ticket::-webkit-scrollbar-track {
    background: #e8ebab;
    /* color of the tracking area */
}

#ticket::-webkit-scrollbar-thumb {
    background-color: #929450;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #e8ebab;
    /* creates padding around scroll thumb */
    scroll-padding: 20px;
}

#ticket::-moz-scrollbar-button,
#ticket::-webkit-scrollbar-button {
    width: 0px;
}

hr{
    border-color: #93964a86;
}

#ticket ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    color: #454545;
    margin-top: 0.3vw;
}

#ticket ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#ticket ul li span{
    font-weight: bold;
}

#ticket #infoTicket ul li img{
    height: 1.5vw;
    border-radius: 100%;
}

#ticket #descricao div{
    text-align: justify;
    color: #303030;
    padding-left: 1.5vw;
    padding-right: 1vw;
}


#chat{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.resposta{
    border: 1px solid #93964a86;
}

.identificacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    height: 2vw;
    border-bottom: 1px solid #93964a86;
}

.identificacao img{
    width: 1.7vw;
    height: 1.7vw;
    border-radius: 100%;
    margin-left: 0.5vw;
}

.identificacao h4{
    color:#303030;
}

.res{
    padding: 0.5vw 2vw;
}

#botoes{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#botoes a input{
    background-color: #94964A;
    border: 1px solid #94964A;
    border-radius: 10px;
    width: 10vw;
    height: 3vw;
    font-weight: 500;
    font-size: 1em;
    color: white;
    transition: 200ms;
}

#botoes a input:hover{
    cursor: pointer;
    background-color: #7c7e43;
    border: 1px solid #7c7e43;
}

#enviarNote{
    background-color: #94964A;
    width: 5vw;
    height: 3vw;
    border: 1px solid #94964A;
    bottom: 2vw;
    right: 5vw;
    font-family: RobotoMono;
    color: white;
    font-weight: 500;
    font-size: 1.3vw;
    transition: 200ms;
    border-radius: 10px;
}

#enviarNote:hover{
    background-color: transparent;
    color: #94964A;
    cursor: pointer;
}

#botao {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.datas {
    display: contents;
}

div#no-notes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

div#no-notes span {
    margin-bottom: 2vh;
}

div#no-notes button {
    background-color: #94964A;
}

div#no-notes button:hover {
    background-color: #7a7c41;
}